* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Benton-Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: white;
  padding: 20px;
  align-items: center;
}
header h1 {
  text-transform: uppercase;
  font-size: 55px;
}

header h1::before {
  content: url("img/MusicPalateLogo.png");
  margin-right: 10px;
  background-color: #fff;
  align-self: center;
  padding: 15px 10px 0;
  border-radius: 0 0 20px 20px;
}

nav {
  display: flex;
  font-size: 24px;
  width: 30vw;
  justify-content: space-around;
  font-family: "Benton-Sans Book", sans-serif;
}
nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #c1262d;
}
nav a.active {
  color: #c1262d;
}

#search-btn {
  background-color: black;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
p {
  font-size: 20px;
  margin-top: 10px;
}
.red {
  color: #c1262d;
  font-weight: bold;
}
hr {
  margin: 20px;
  color: black;
  opacity: 0.5;
  width: 80vw;
}
#search-artist {
  font-size: 50px;
  margin: 0 auto;
}

#search-artist button {
  font-size: 40px;
  border: 1px solid black;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  margin-left: -15px;
}

#search-artist input {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 15px 0 0 15px;
  padding: 10px;
  margin-right: 0;
}
#search-artist input:focus {
  outline: none;
  border-radius: 15px 0 0 15px;
}

.artist {
  width: 200px;
  height: 200px;
  background-image: url("img/EmptyArtist.png");
  background-size: cover;
  position: relative;
  margin: 20px;
}

/* .artist::after {
  content: url("img/Triangle.png");
  position: relative;
  top: 200px;
  left: 30px;
  display: none;
}
.show::after {
  display: block;
} */

.artist a {
  background-color: #c1262d;
  color: white;
  padding: 5px;
  border-radius: 0 0 5px 0;
  text-decoration: none;
}
.artist a:hover {
  background-color: #000;
}
.artist h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.artist h3:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#recommendations {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

footer .social-icons {
  color: white;
}

footer h5 {
  margin-bottom: 5px;
}

footer a.social {
  color: white;
  margin: 10px 10px;
}

footer a.social:hover {
  color: #c1262d;
}

.dropdown {
  display: none;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 1;
  background-color: black;
  color: white;
  width: 70vw;
  padding: 20px;
  z-index: 3;
}

.dropdown div h3 {
  width: 100%;
  position: static;
  background-color: none;
  color: #c1262d;
  text-transform: uppercase;
  font-size: 24px;
}

.dropdown .info {
  width: 400px;
  height: 200px;
  overflow: scroll;
  margin: 0 10px;
}

.dropdown .info p {
  font-size: 12px;
}

.dropdown .video {
  width: 300px;
  margin: 0 10px;
}

.dropdown .video iframe {
  width: 100%;
}

.dropdown .songs {
  width: 200px;
  margin: 0 10px;
}

.dropdown .songs ul {
  margin-left: 30px;
}
.show-dropdown {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #search-artist button {
    font-size: 30px;
  }
  #search-artist input {
    font-size: 30px;
  }
  header h1 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  footer {
    position: static;
  }
}

.about-link {
  text-decoration: none;
  color: #c1262d;
}

.about-link:hover {
  color: #000;
}

#about-image {
  width: 200px;
  margin: 20px;
}

#about-info {
  text-align: center;
  max-width: 500px;
  margin: 20px;
}

.more-info {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  flex-flow: row wrap;
  width: 80vw;
  justify-content: space-evenly;
  background-color: #000;
  color: white;
  padding: 20px;
}

.show-info {
  display: flex;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.more-info div {
  margin: 30px;
}
.more-info .songs ul {
  position: relative;
  left: 20px;
}
.more-info div {
  max-width: 30%;
  margin: 30px;
}
.more-info div img {
  width: 100%;
}

.body-cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2;
}

.show-cover {
  display: block;
}

.move-up {
  z-index: 3;
}
